<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="utilities.Reporting"/>
        <listener class-name="utilities.ReportingAllure"/>
    </listeners>
    <test name="testCases">
        <classes>
            <class name="testCases.GetAllGamesIMGAPI_Test"/>
            <class name="testCases.GetGamesUrlAPI_Test"/>
            <class name="testCases.GetCopyGames_API_Test"/>
            <class name="testCases.GetLifeGames_LimitOutGames_Test"/>
        </classes>
    </test>
</suite>