<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
<!--        <listener class-name="utilities.Reporting"/>-->
<!--        <listener class-name="utilities.ReportingAllure"/>-->
    </listeners>
    <test name="testCases">
        <classes>
<!--            <class name="testCases.CraftBet_104_MarketsSumErrorLifePreMatchGames_Test"/>-->
<!--            <class name="testCases.CraftBet_101_LifeGamesTimeOut_Test"/>-->
<!--            <class name="testCases."/>-->

<!--            <class name="testCases.CraftBet_000_CasinoSameNameCopyGames_Test"/>-->
<!--            <class name="testCases.CraftBet_001_CasinoGamesImgWeb_Test"/>-->
<!--            <class name="testCases.CraftBet_002_CasinoGamesIMGMobile_Test"/>-->
            <class name="testCases.CraftBet_003_CasinoGamesUrl_Test"/>
        </classes>
    </test>
</suite>